body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Board_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:20px;
    width:940px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:656px;
    top:26px;
    width:50px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:730px;
    top:40px;
    width:200px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Board_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:890px;
    top:40px;
    width:20px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Board_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:16px;
    top:26px;
    width:50px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u8 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

